<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome, <span th:text="${#authentication.name}"></span>!</h1>
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/admin/annotators}">Manage Annotators</a>
    <br>
    <a th:href="@{/admin/datasets}">Manage Datasets</a>
</div>
<div sec:authorize="hasRole('ANNOTATOR')">
    <a th:href="@{/annotator/tasks}">See Tasks</a>
    <br>
    <a th:href="@{/annotator/stats}" class="btn btn-link">My Statistics</a>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>